@using GridMvc.Html;

@model IQueryable<Model.ViewModels.PropertyHeaderViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ControllerName = (string)ViewContext.RouteData.Values["controller"];
    string IndexStatus = (string)ViewBag.IndexStatus;
}

<style type="text/css">
    .panel-info .dropdown-toggle:hover {
        color: #1AAFD0;
    }
</style>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-list black"></span> Property List </span>
        </h3>
        <hr style="margin-top:0px;margin-bottom:0px" />
        <input type="hidden" class="DocType_Id" value="@ViewBag.id">
        <div class="panel-info">
            @*<div class="btn-group">
                @Html.ActionLink(" ", "Create", "PropertyHeader", new { @id = @ViewBag.id }, new { @class = "cbtn btn-circle glyphicon glyphicon-plus toolbar", @title = "Add New", @data_toggle = "tooltip" })
                @Html.ActionLink(" ", "GetHistory", "LogHistory", null, new { @class = "cbtn btn-circle glyphicon glyphicon-user toolbar", @title = "History", @data_toggle = "tooltip", @id = "DocHistoryI" })
                @Html.ActionLink(" ", "GeneratePrints", "PropertyHeader", null, new { @class = "cbtn btn-circle glyphicon glyphicon-print toolbar", @title = "Print", @data_toggle = "tooltip", @id = "PrintRecordI", target = "_blank" })
                @Html.ActionLink(" ", "GenerateGatePass", "PropertyHeader", null, new { @class = "cbtn btn-circle glyphicon glyphicon glyphicon-log-out toolbar", @title = "GatePass", @data_toggle = "tooltip", @id = "GenGatePassI" })
                @Html.ActionLink(" ", "Remove", "PropertyHeader", null, new { @class = "cbtn btn-circle glyphicon glyphicon-trash toolbar", @title = "Delete", @data_toggle = "tooltip", @id = "DeleteRecord", @data_modal = "", onclick = "" })
            </div>
            <div class="btn-group">
                <a class="cbtn btn-circle glyphicon glyphicon-option-horizontal dropdown-toggle" aria-expanded="false" style="padding-top: 6px;padding-bottom: 6px;" href="#" data-toggle="dropdown" id="dropdownMenu1">
                </a>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                    <li><a href="@Url.Action("Wizard", "PropertyHeader", new { @id = @ViewBag.id })"><span class="glyphicon glyphicon-random" onclick="$('#')"> </span>&nbsp;&nbsp;Wizard</a></li>
                    <li><a href="@Url.Action("Import", "PropertyHeader", new { @id = @ViewBag.id })"><span class="glyphicon glyphicon-import"> </span>&nbsp;&nbsp;Import</a></li>
                    <li><a href="@Url.Action("Settings", "PropertyHeader", new { @id = @ViewBag.id })"><span class="glyphicon glyphicon-cog"> </span>&nbsp;&nbsp;Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a target="_blank" href="@Url.Action("Report", "PropertyHeader", new { @ViewBag.id })"><span class="glyphicon glyphicon-stats"> </span> Report</a></li>
                </ul>
            </div>*@
            @*<div class="btn-group right">
                @CustomHelpers.RenderIconStatusFilters(0, 0, ControllerName, ViewBag.id, "All")
            </div>*@
        </div>
        @*<hr style="margin-top: 5px; margin-bottom: 5px; border-top: 1px solid #706f6f; " />
        @CustomHelpers.RenderStatusFilters(ViewBag.PendingToSubmit, ViewBag.PendingToReview, ControllerName, ViewBag.id, ViewBag.IndexStatus)*@

    </div>
    <div class="panel-info" style="padding-left:5px;padding-top:2px;font-size:12px">

        @Html.Grid(Model).Columns(columns =>
        {
               columns.Add(m => m.PersonID, true).Css("Header_Id");
               columns.Add(m => m.Code).Sortable(true).Titled("Property No.").Filterable(true).Sortable(true);
               columns.Add(m => m.Name).Sortable(true).Filterable(true).Titled("Owner Name");
               columns.Add(m => m.FatherName).Sortable(true).Filterable(true).Titled("Father Name");
               columns.Add(m => m.AadharNo).Sortable(true).Filterable(true).Titled("Aadhar No.");
               columns.Add(m => m.GodownName).Sortable(true).Filterable(true).Titled("Ward");
               columns.Add(m => m.BinLocationName).Sortable(true).Filterable(true).Titled("Chak");
               columns.Add(m => m.HouseNo).Sortable(true).Filterable(true).Titled("House No.");
               columns.Add(m => m.AreaName).Sortable(true).Filterable(true).Titled("Area");
               columns.Add(m => m.Status, true);
           }).WithPaging(25).EmptyText("No records found.")
    </div>
</div>


<script type="text/javascript">

    @*var id = @ViewBag.id
    $('table.grid-table td').dblclick(function () {
        var $this = $(this);
        var row = $this.closest("tr");


        var row = $this.closest("tr");
        var PersonId = row.find('[data-name="PersonID"]').text();
        var url = '@Url.Action("Create", "Collection")' + "/" + id + "?PersonId=" + PersonId;
        window.location.href = url;
    });*@


    var id = @ViewBag.id
    $('table.grid-table td').dblclick(function () {
        var $this = $(this);
        var row = $this.closest("tr");


        var row = $this.closest("tr");
        var PersonId = row.find('[data-name="PersonID"]').text();
        //var url = '@Url.Action("Index", "Collection")' + "/" + id + "?PersonId=" + PersonId;
        var url = "/PropertyTax/Collection/Index" + "/" + id + "?PersonId=" + PersonId;
        window.location.href = url;
    });
</script>